// # GUI_colors

// ## Main Colors

// ### Theme
$row-border: #dbdbdb;
$bg-search-color: #f4f4f4;
$bg-button-color: #9F734F;
$bg-button-color-hover: #305F5F;
$button-color: white;
$header-color: #C9C9C9;
$bg-menu: #305F5F;

// ### Widgets
$widget-weather-color: #F4F4F4;
$widget-weather-background: rgba(23, 14, 29, 0.4);
$widget-forecast-color: #F4F4F4;
$widget-forecast-background: rgba(23, 14, 29, 0.6);

// ### Favourites
$bg-favourites-color: #9F4F4F;
$bg-color-container: rgba(0,0,0,0.5);
$bg-card: #F4F4F4;
$favourites-input-border: #ccc;
$list-cities-border: #E0E0E0;
$info-text-color: #666666;
$favourites-color: #F4F4F4;
$favourites-button-color: #9F734F;
$favourites-button-color-hover: #305F5F;

// ### Footer
$bg-footer-color: #C3C3C3;