// # GUI_colors

// ## Main Colors

// ### Theme
$row-border: #dbdbdb;
$bg-search-color: #f4f4f4;
$bg-button-color: DodgerBlue;
$bg-button-color-hover: RoyalBlue;
$button-color: white;

// ### Widgets
$widget-weather-color: white;
$widget-weather-background: rgba(23, 14, 29, 0.4);
$widget-forecast-color: white;
$widget-forecast-background: rgba(23, 14, 29, 0.6);

// ### Favourites
$bg-favourites-color: #f4f4f4;
$bg-color-container: rgba(0,0,0,0.5);
$bg-card: white;
$favourites-input-border: #ccc;
$list-cities-border: #E0E0E0;
$info-text-color: #666666;