// Extra small screen
$screen-xs: 480px;

// Small screen
$screen-sm: 768px;

// Medium screen
$screen-md: 992px;

// Large screen
$screen-lg: 1300px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

@mixin respond-to($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) { @content }
  }
  @else if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) { @content }
  }
  @else if $media == lg {
    @media (min-width: $screen-lg) { @content }
  }
}