@import 'styles';

.row-widget {
    display: flex;
    justify-content: space-between;
    border: 1px solid $row-border;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGQMMh5diqIffwDbm_6-VC_56RKHYhvpH1H-oLcGqjlU-2ab9EaQ");
    background-size: cover;
    height: 400px;
}

.column-widget {
    width: 50%;
    display: flex;
    justify-content: center;
}

@include respond-to(xs) {
    .row-widget {
        flex-direction: column;
        height: auto;
    }

    .column-widget {
        width: 100%;
    }
}